/* 🟦 reset_Password Page Styles🟦 */
.reset-section {
  background: linear-gradient(135deg, #0066ff, #28b7e2);
  min-height: 90vh;
  display: flex;
  align-items: center;
}

.requirement-list li {
  list-style: none;
  font-size: 14px;
  margin-bottom: 4px;
}

.valid {
  color: green;
}

.invalid {
  color: red;
}